@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?mr8aaj');
  src:url('../fonts/icomoon.eot?#iefixmr8aaj') format('embedded-opentype'),
    url('../fonts/icomoon.woff?mr8aaj') format('woff'),
    url('../fonts/icomoon.ttf?mr8aaj') format('truetype'),
    url('../fonts/icomoon.svg?mr8aaj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}
.icon-home2:before {
  content: "\e601";
}
.icon-home3:before {
  content: "\e602";
}
.icon-newspaper:before {
  content: "\e603";
}
.icon-pencil:before {
  content: "\e604";
}
.icon-music:before {
  content: "\e605";
}
.icon-play:before {
  content: "\e606";
}
.icon-file:before {
  content: "\e607";
}
.icon-profile:before {
  content: "\e608";
}
.icon-file2:before {
  content: "\e609";
}
.icon-address-book:before {
  content: "\e60a";
}
.icon-notebook:before {
  content: "\e60b";
}
.icon-bubbles:before {
  content: "\e60c";
}
.icon-bubble:before {
  content: "\e60d";
}
.icon-user2:before {
  content: "\e60f";
}
.icon-lab:before {
  content: "\e610";
}
.icon-briefcase:before {
  content: "\e611";
}
.icon-powercord:before {
  content: "\e612";
}
.icon-menu:before {
  content: "\e613";
}
.icon-cloud-download:before {
  content: "\e614";
}
.icon-link:before {
  content: "\e615";
}
.icon-info:before {
  content: "\e617";
}
.icon-info2:before {
  content: "\e618";
}
.icon-strikethrough:before {
  content: "\e619";
}
.icon-sigma:before {
  content: "\e61a";
}
.icon-vimeo2:before {
  content: "\e61b";
}
.icon-vimeo:before {
  content: "\e61c";
}
.icon-IE:before {
  content: "\e61d";
}
.icon-search:before {
  content: "\e60e";
}
.icon-search2:before {
  content: "\e616";
}
.icon-info3:before {
  content: "\e61e";
}
.icon-info4:before {
  content: "\e61f";
}
